 @import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Shantell+Sans&display=swap');
:root {
    --primary-color: #5cf161;
    --secondary-color: #000;
    --accent1-color: #5cf161;
    --accent2-color: #5cf161;
  
    --heading-font: 'Secular One';
    --paragraph-font: 'Shantell Sans';
  
    --nav-background-color: #5cf161;
    --nav-link-color: #000;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #000;
  }  
  
  header{
    align-items: center;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-bottom: 5px solid var(--primary-color);
      
    }


    #header-background {
      position: sticky;
        width:auto;
        padding: 2rem;
        background-color: var(--secondary-color);

        width: auto;
        flex: 10 10 100%;
        grid-area: 1 / 1 / 1 / 1;

        
      }
    
    header nav{
      display:flex;
      position:absolute;
      width: 100%;
      align-self: center;
      align-items: flex-end;
      justify-content: space-evenly;
      background-color: var(--nav-background-color);
      font-size: 1.2rem;
      float: right;

      padding: 1rem;
      grid-column: 2 / 5;
      flex-wrap: wrap;
   
    }  
    
      
    header nav a {
      position: relative;
        display: flex;
        width: auto;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 0%;
        float: right;
  
    }

    .sociallinks {
      position:relative;
      width: 2%;
      float: right;
      background-color: var(--accent1-color);
      display: flex;
    }
    
    .sociallinks a{
      z-index: 1;
      display: block;
      width: 15%;
      float: right;
      padding: 0.2rem;
    }

      
    header nav a:link, nav a:visited {
        color: var(--nav-link-color);
      }
      
      header nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }


.hero {

  position: relative;
  text-align: center;
  display: grid;
  align-items: center;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

.hero img {

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  width: 100%;
  height: 100%;
  display: grid;
  grid-column: 1/6;
  grid-row: 1/6;

  
}

.hero2 {
  
  grid-column: 1 / 6;
  grid-row: 2 / 5;  
  min-height: 80%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  
 
}

.hero2 img {
  position:static;

  grid-column: 4 / 6;  
  grid-row: 2 / 5;     

  width: 50%;
  height: auto;
  object-fit:scale-down; 
  float:inline-start;
  margin-left: 3rem;
  box-shadow: 15px 17px 19px #000;
  border-radius: 10%;

  }



article {
  position:relative;
  display: grid;
  background-repeat: no-repeat;
   background-position: center;
  color: var(--accent1-color);
  font-size: 200%;
  font-weight: bold;
  align-content: center;
  grid-column: 1 / 4;
  
}
.introduction {
  
  grid-column: 2 / 4;
  grid-row: 2 / 5;


  justify-self: center;
  align-self: center;


  background-color: var(--nav-hover-background-color);
  color: var(--accent1-color);
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width: auto; 
  z-index: 2; 
  font-size: xx-large;

  
  
}

body {
  
  display: grid;
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh; 
  width: auto;
  min-width: 90%;
}

  main {
    display: grid;
    
  }
  

h1,h2,h3, h4, h5, h6 {
  position: relative;
    color: var(--nav-hover-background-color);
    text-align:center;
    font-weight: bolder;
    font-family: var(--heading-font);
    font-size: 300%;
    text-shadow: var(--accent1-color) -15px 17px 13px;
    
  }

  .hero h1 {

  }

  .hero h1 {
  
    z-index: 1;
    grid-column: 2 / 5; 
    grid-row: 1 / 3; 
   
    text-align: center;
    
    justify-self: center;
    align-self: center;

    padding: 3rem;
    
    font-size: 200%;
    
  }



  .h h2 {
    grid-column: 3/4;
    
  }

p {
  font-size: 100%;
  
  font-family: var(--paragraph-font);
}

.p {
  font-size: 100%;
  
  font-family: var(--paragraph-font);
}



.foot p {
  position:relative;
  align-self: center;
  text-align: center;
  width: 100%;
  color: var(--accent2-color);
  
  grid-column: 1/3;
  grid-row: 3/5;
  left: 40%;
  font-size: xx-large;
  word-wrap:break-word ;
  
}


  
  .foot {
    width: 100%;
    height: auto;
    padding: 1rem 0; 
    background-color: var(--nav-link-color);
    border-bottom: 1rem solid var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / -1;
    grid-row: 5 / 6;

  }


.background {

  
  justify-content: space-evenly;
  display: grid;
  
  border-bottom: 0px solid #fcf300;
  width: auto;
  height: auto;

  align-items:start;

  
  

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 25% 25% 25% 25% 25%;

  grid-column: 3 / 7;
  
}




.sociallinks {
  position:relative;
  
  width: 100%;
  justify-content: space-evenly;
  background-color: #15d6d600;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column:  6/ 7;
  grid-row: 2/3;
}

.sociallinks a{
  position: relative;
  z-index: 1;
  display: flex;
  

}

#twitter{grid-column: 2/3;}
#facebook {grid-column: 1/2;}
#instagram {grid-column: 3/4;}




header img{
  margin: 2% 5% 2% 3%;
	width: auto;
	height: auto;
}

.h {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  position: relative;
  display: grid; 
  height: auto;
  padding: 2rem 0;
  text-align:center;
  align-items: center;
}

.p1 {
  position: relative;
  grid-row: 2/4;
  grid-column: 1/2;

  color: var(--accent2-color);
  background-color: var(--nav-hover-background-color);
  
  float: left;
  left: 15% ;
  font-size: x-large;

}

.h img {
  position:relative;
  width: 100%;
  height: auto;
  margin: 15%;
  grid-row: 2/4;
  grid-column: 3/4;
  box-shadow: 15px 17px 19px;
  border-radius: 10%;
  
  
}
.p2 {
  position: relative;
  right: 15% ;
  grid-row: 2/4;
  color:var(--primary-color);
  background-color: var(--nav-hover-background-color);
  grid-column: 5/6;
  float: right;
  font-size: x-large;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display:block;
  flex: 100%;
  list-style-type: none;
  justify-content: space-evenly;
}

.H { 
  background-color: #f0f3f0;
}

.H img {
  width: 100%;
  height: auto;
  box-shadow: 15px 17px 19px;
  border-radius: 10%;
}

.callout {
  position: absolute;
  width: 100%;
  height:min-content;
  border: 8px solid var(--primary-color) ;
  color:var(--nav-hover-link-color);
  overflow-wrap: break-word ;
  z-index: 1;
  grid-column: 2 / 5; 
  grid-row: 3 / 4; 
  
  text-align: center;
  
  justify-self: center;
  align-self: center;
margin: 1rem;
padding: 1rem;

  
  font-size: 200%;

  text-shadow:
  -1px -1px 0 #000,
  4px -4px 0 #000,
  -4px 4px 0 #000,
  4px 4px 0 #000;

  
}



.row  {  list-style-type: none;
  justify-content: space-evenly;
}

/*-------------------------------------------------------------*/

.contact {
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(3, 1fr);
display: grid;
}

.contact h1 {
  position: relative;
  grid-column: 2/6;
}

.contact address {
  position: relative;
  grid-column: 2/6;
  grid-row: 2/4;
  font-size:xx-large;
  font-family: var(--heading-font);
  background-color: var(--nav-hover-background-color);
  color: var(--accent2-color);
  text-size-adjust: auto ;
  word-wrap:break-word ;
  padding: 2%;
  margin: 5%;
  border-radius: 0.5rem;
  text-align: center;
}

.employees {
   display: grid;
   
    background-color: #f0f3f0;
}
  
.employees img {
    width: 95%;
    height: auto;
    box-shadow: 15px 17px 19px;
    border-radius: 10%;
  }
.employees p {
  background-color: #f0f3f0;
  word-wrap: break-word;
  width: 90%;
  padding: 5%;
}  
  .row  {  list-style-type: none;
    justify-content: space-evenly;
  }


.UserMessageform {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20% 20% 20% 20% 20% 20%;
  display: grid;
  padding-bottom: 14rem;
}

.UserMessageform h2 {
  grid-column: 3/5;
}


form{
  width: 100%;
  margin: 5% auto;
  
  
  border: 1rem solid rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  background-color: rgb(196, 255, 204);
  grid-column: 2/5;
  grid-row: 2/7;
  margin: 5rem;
  z-index: 1;


}

fieldset {
  display: grid;
  grid-gap: 2.5rem;
  margin: 1rem;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0.5rem;
}
legend {
  padding: 0.5rem;
  color:rgb(0, 0, 0);
  font-size: 1.3em;
  stroke: #000;
  font-weight: bolder;
}

label,input,button,textarea,select {
  font-family: Shantell Sans;
}

label {
  text-align: left;
  padding-right: 1rem;
}

input, select, textarea {
  padding: .5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

input[type="radio"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;

}



#message {
  width: 100%;  
}

button[type="submit"] {
  display: inline-block;
  background-color: #5cf161;
  border-radius: 0.8rem;
  grid-column: 4/5;
  text-align: center;
  font-size:x-large ;
  font-family: var(--heading-font);
  margin: 6rem;
}

form button { 
  position: relative;
  width: 20%;
  
  
}

.wireframe {
  position:relative;
  align-self: center;
  text-align: center;
  width: 100%;
  color: #fcf300;
  
  grid-column: 1/3;
  grid-row: 5/6;
  left: 30%;
  font-size: xx-large;
  word-wrap:break-word ;
}


.trips-promo {
  background-color: var(--secondary-color); 
  text-align: center;
  padding: 3rem 0; 
  border-bottom: 5px solid var(--primary-color);
}

.trips-text p {
  color: var(--nav-hover-link-color); 
  font-size: 2.5rem;
  font-family: var(--heading-font);
  margin-bottom: 2rem; 
}

.trips-promo .button {
  display: inline-block; 
  background-color: var(--primary-color);
  color: var(--nav-link-color); 
  font-size: 1.5rem;
  font-family: var(--heading-font);
  padding: 1rem 2rem; 
  text-decoration: none;
  border-radius: 5px; 
  transition: background-color 0.3s ease;}

.trips-promo .button:hover {
  background-color: var(--accent2-color); 
  color: var(--nav-hover-link-color);
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 1rem;
}

caption {
  caption-side:top;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
