@import url('https://fonts.google.com/share?selection.family=Heebo:wght@300%7CSecular%20One%7CShantell%20Sans');
:root {
    --primary-color: #fcf300;
    --secondary-color: #00b4d8;
    --accent1-color: #d6b70b;
    --accent2-color: #0db57d;
  
    --heading-font: 'Shantell', sans;
    --paragraph-font: 'Heebo', serif;
  
    --nav-background-color: #0db57d;
    --nav-link-color: #d6b70b;
    --nav-hover-link-color: #8dffcd;
    --nav-hover-background-color: #fcf300;
  }
body {
    max-width: 960px;
    padding: 20px;
  }
h1, h2, h3, h4, h5, h6 {
    color: var(--accent1-color);
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
  }
p {
    padding: 25px;
  }
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
  
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
  
nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }